html, body {
    background-color: whitesmoke;
}

html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container-div {
    height: 100%;
    width: 100%;
}

.navbar-header {
    height: 45px;
    background-color: gray;
}

.navbar-header-text {
    padding-left: 15px;
    padding-top: 12px;
    color: white;
}

.map-header-text {
    padding-left: 12px;
    position: relative;
    top: -3px;
}

.map-header-location {
    padding-left: 12px;
}

.navbar-main {
    padding-right: 0px !important;
    background-color: lightgray;
    height: 100%;
}

.map-main {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.map-header {
    height: 45px;
    background-color: #007bff;
    color: white;
}

.list-toggle-btn {
    font-size: 24px;
    padding-top: 9px;
    padding-left: 24px;
}

.filter-row {
    width: 100%;
}

.filterBtn {
    width: 45px; 
    float: left;
}

#map {
    height: 94%;
}

.showLocation {
    display: block;
}

.hideLocation {
    display: none;
}

@media screen and (max-width: 980px) {
    .filter-btn {
        width: 24px;
        font-size: 12px;
        height: 30px;
    }

    .search-icon {
        position: relative;
        left: -3px;
    }

    .filter-row {
        width: 150px !important;
    } 

    #locationListItem {
        font-size: 12px;
    }
}

@media screen and (max-width: 600px) {
    .filter-row {
        width: 75px !important;
    }         

    .navbar-header-text {
        font-size: 12px;
        padding-top: 20px;
    }
    
    .map-header-text {
        font-size: 10px;
    }    

    .map-header-location {
        padding-left: 12px;
    }
}
